stages:
  - test

unit-test-job:
  stage: test
  tags:
    - E2E
  variables:
    HTTP_PROXY: http://10.255.254.151:8080
    HTTPS_PROXY: http://10.255.254.151:8080
    http_proxy: http://10.255.254.151:8080
    https_proxy: http://10.255.254.151:8080
    NO_PROXY: localhost,127.0.0.1,gitlab-server,gitlab

  image: ubuntu:22.04
  
  before_script:
    - apt-get update && apt-get install -y build-essential cmake lcov python3 python3-pip curl git
    - curl -LsSf https://astral.sh/uv/install.sh | sh
    - export PATH="$HOME/.local/bin:$PATH"
    # 確認用：パスが通ったかチェック
    - uv --version

  script:
      - chmod +x run_tests.sh
    - ./run_tests.sh

  # 生成されたHTMLレポートをGitLab上でダウンロード・閲覧可能にする
  artifacts:
    when: always
    paths:
      - build/coverage_html/
      # - build/test_detail.xml
      - build/test_detail.html
    expire_in: 1 week
    # GitLab Pagesなどで公開したい場合
    reports:
      junit: build/test_detail.xml
